[submodule "vim/pack/plugins/start/fzf"]
	path = vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/plugins/opt/neocomplete"]
	path = vim/pack/plugins/opt/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/pack/plugins/opt/gitgutter"]
	path = vim/pack/plugins/opt/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
