[submodule "vim/pack/plugins/start/fzf"]
	path = vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/plugins/start/fugitive"]
	path = vim/pack/plugins/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/plugins/opt/neocomplete"]
	path = vim/pack/plugins/opt/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/pack/plugins/opt/gitgutter"]
	path = vim/pack/plugins/opt/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/plugins/opt/elixir"]
	path = vim/pack/plugins/opt/elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/pack/plugins/opt/javascript"]
	path = vim/pack/plugins/opt/javascript
	url = https://github.com/pangloss/vim-javascript.git
