[submodule "vim/pack/plugins/start/fzf"]
	path = vim/pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/pack/plugins/start/vim-fugitive"]
	path = vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
